*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  .container{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    height: 100vh;
    width: 100%; 
  }
  .left{  
    flex-basis:40%;   
  }
  .left .img{
    background-image:url(./images/chef.gif); 
    display:flex; 
    height: 100vh; 
    width: 90%;
      background-size: contain;
    background-repeat:no-repeat;
    background-position: left; 
  }
  .right{  
    display:flex; 
    flex-basis:60%;     
    height: 100vh;
    background: #fff; 
    flex-direction:column;  
    justify-content:center; 
    align-items:center;
    
  }
  .right .form{
    display:flex;
    max-width:80%;
    flex-direction: column; 
    align-items:center;
  }
  
  .right .avatar-img{
    background-size: cover; 
    height: 105px;
    width: 125px; 
    margin-bottom: 10px;
  }
  .right h2{
    font-size:30px;
    font-family: "Gill Sans", sans-serif;
    margin-bottom:5px;
  }
  .right .form input,
  .right .form select{     
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px 0px 10px 4px;
    color:#333;
    font-size:16px;
    width: 250px;
    outline: none;
    font-family: sans-serif;
    border: none;
    border-bottom:2px solid #28BE8A; 
  } 
  
  .select {
    background-color: transparent;
  }

  .right .form p{ 
    display:flex;
    margin-top: 20px; 
    margin-bottom: 30px; 
    align-self:flex-end; 
    font-family: "Gill Sans", sans-serif;
    font-size:12px;
  }
  .right .form p a{
    color:#333;
    text-decoration:none;
  } 
  .right .form .form-button{ 
    padding:12px 20px;
    width: 100px;
    border:0;
    background: #28BE8A; 
    border-radius: 50px;
    color:#fff;
    font-family: sans-serif;
    font-weight:700;
    letter-spacing: 2px;
    cursor:pointer;
    margin: 20px;
    outline: none;
  }

  .form-button-disabled {
    padding:12px 20px;
    width: 100px;
    border:0;
    background: gray; 
    border-radius: 50px;
    color:#fff;
    font-family: sans-serif;
    font-weight:700;
    letter-spacing: 2px;
    cursor:pointer;
    margin: 20px;
    outline: none;
  }
  
  .button-align {
    flex-direction: row;
    align-items: flex-end;
    display: flex;
  }
  
  
  @media screen and (max-width: 950px) {
    .left{  
      flex-basis:0%;
    }
    .right{    
      flex-basis:100%;   
    
    }
  }

  .backIcon {
    position: fixed;
    top: 15px;
    left: 25px;
  }